body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.terminal-base {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  height: initial !important;
  min-height: initial !important;
}

.terminal-base div div {
  max-height: initial !important;
}